div.vignette {
    float: right;
}

div.header  {
    width: 100%;
    background: url("<% $c->uri_for( '/static/tyger_header.png' ) %>") no-repeat scroll right bottom #910000;
    height: 122px;
    color: #FFF;
    padding: 1px;
}

div.header-inner {
    margin-top: 30px;
    margin-left: 20px;
}

div.header h1 {
    font-family: "trebuchet ms";
    font-size: 34px;
    font-weight:  bold;
    margin-bottom: 10px;
}

body {
    font-family: "trebuchet ms";
    font: 13px arial,helvetica,sans-serif;
    margin: 0px;
    min-width: 1200px;
}

h1 a, h2 a, h3 a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover {
    text-decoration: underline;
}

a {
    color: #AB0404;
    outline: medium none;
}

div.blog_entry {
}

div.entry_info {
    min-height: 1em;
}

div.blog_entry h2 {
    border-bottom: 1px solid #D3D3D3;
    margin-bottom: 6px;
}

div.blog_entry .tags {
    border-top: 1px solid #D3D3D3;
    margin-top: 10px;
    padding-top: 3px;
    clear: both;
}

div.main_body {
    /*width: 1200px;*/
}

div.left_column, div.right_column {
    /*display: inline-block;*/
    float: left;
    width: 200px;
    vertical-align: top;
    margin-left: 20px;
    padding-top: 25px;
}

div.left_column {
}

div.middle_column {
    /*display: inline-block;*/
    float: left;
    /*position: relative;*/
    width: 700px;
    margin-left: 20px;
    margin-right: 20px;
}

div.tags_listing .count {
    float: right;
    width: 3em;
    font-style: italic;
}

div.widget {
    margin-bottom: 20px;
}

div.widget ul {
    padding-left: 20px;
}

/* widgets */

div.cpan_modules .distribution .version:before {
    content: "version: ";
}

div.cpan_modules .distribution .version {
    width: 45%;
    display: inline-block;
}

div.cpan_modules .distribution .date {
    width: 45%;
    display: inline-block;
    text-align: right;
}

div.cpan_modules .distribution {
    margin-bottom: 5px;
}

div.cpan_modules a.more {
    margin-left: 2em;
}

